.tab-content {
	border: 1px solid #ddd;
	margin-bottom: 50px;
	width: 1300px;
	align-content: flex-start;
	text-align: left;
}

body {
    position: absolute;
    left: 5px;
}

a, h1 {
	color: #2a59a6;
}

h2, h3, h4, h5 {
  color: #2a59a6;
	margin-top: 1.5em;
}
